@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green:var(--color-green-500);
  --yellow:var(--color-yellow-300);
  --red:var(--color-red-500);
  --gray:var(--color-gray-500);
  --white:var(--color-gray-100);

  --yellow-text:var(--color-yellow-900);
  --green-text:var(--color-green-900);
  --red-text:var(--color-red-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* basic elements */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
}
input{
  background:white;
  color:black;
  border-radius: 8px;
  margin:8px;
 
}
input:active{
  border:none;
}

button{
  background-color: var(--green);
  color: var(--white);
  border-radius: 8px;
  padding:8px;

}

/* utility classes */
.d-flex{
  display:flex;
}
.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}


/* letter component classes */
.letter{
  display: flex;
  width:50px;
  height:50px;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  margin:8px;
  border-radius: 8px;
  font-weight: bold;
   background-color: var(--gray);
  color: transparent;

  animation-name: timeflip;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.letter-correct{
  background-color: var(--green);
  color: black;
  --final-bg: var(--green);
  --final-color: black;
}

.letter-incorrect{
  background-color: var(--red) !important;
  color:var(--white);
  --final-bg:var(--red);
  --final-color:var(--white);
}

.letter-close{
  background-color: var(--yellow);
  color:black;
  --final-bg:var(--yellow);
  --final-color:black;
}

.letter-empty{
  background-color: var(--gray);
  display: block;
   animation: timeflip 0.5s ease-in; 
  animation-fill-mode: forwards;
  --final-bg:var(--gray);
  --final-color:var(--white);
}

.letter-gray{
  background-color: var(--gray);
  color:var(--white);
  --final-bg:var(--gray);
  --final-color:var(--white);
}

/* home page */
#guesses-container{
  width:100vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top-bar{
  width: 100%;
  background-color: var(--color-green-800);
  padding:8px;
  font-weight: bold;
  font-size: 20pt;
  color:var(--color-green-100)
}

.chip{
  background-color: var(--green);
  padding:8px;
  margin: 10 auto auto auto;
  color:white;
  border-radius: 8px;
  display: block;
  width: fit-content;
  text-align: center;
}

#input-container{
  margin-top: 0.5rem;
}

/* Animations */
@keyframes timeflip{
  0%{
    background-color: gray;
    transform:rotateX(0deg);
    color:transparent;
  }
  25%{
     transform:rotateX(90deg);
     background-color: gray;
     color:transparent;
  }
  50%{
    transform: rotateX(90deg);
    background-color: var(--final-bg); /*this gets the color specified for each letter color class*/
    color: var(--final-color);
  }
  100%{
    transform: rotateX(0deg);
    background-color: var(--final-bg);
    color: var(--final-color);
  }
}




/*END*/
