@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
input{
  background:white;
  color:black;
  border-radius: 8px;
  margin:8px;
 
}
input:active{
  border:none;
}

button{
  background-color: green;
  color: white;
  border-radius: 8px;
  padding:8px;

}

.d-flex{
  display:flex;
}
.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.letter{
  display: flex;
  width:100px;
  height:100px;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  margin:10px;
  border-radius: 8px;
  font-weight: bold;
}

.letter-correct{
  background-color: green;
  color: white;
}

.letter-incorrect{
  background-color: red;
  color:white;
}

.letter-close{
  background-color: yellow;
  color:black;
}



.letter-empty{
  background-color: gray;
}
